<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsBaseAttrInfoMapper">
    <select id="selectAttrValueListByValueId" resultMap="selectAttrValueListByValueIdMap">
        select bai.* , bai.id as bai_id ,bav.*,bav.id as bav_id
        from pms_base_attr_info bai, pms_base_attr_value bav
        where bai.id = bav.attr_id
        and bav.id in (${valueIdStr})
    </select>
    <resultMap id="selectAttrValueListByValueIdMap" autoMapping="true" type="com.atguigu.gmall.bean.PmsBaseAttrInfo">
        <result column="bai_id" property="id"/>
        <collection property="attrValueList" ofType="com.atguigu.gmall.bean.PmsBaseAttrValue" autoMapping="true">
            <result column="bav_id" property="id"/>
        </collection>
    </resultMap>
</mapper>